.datos{
	border: 1px solid #444644;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 8px;
	background-color: #F1F1F1;
}

.titulo{
	min-height: 30px;
	height: 100%;
	background-color: #444644;
	color: #fff;
	line-height: 30px;
	margin-left: 0px;
	margin-right: 0px;
}
@media (max-width: 768px) {
    .disp{
    	text-align: left;
    }
}
@media (min-width: 768px) {
    .disp{
    	text-align: right;
    }
}
.datos p{
	margin-bottom: 0px;
}

.informacion{
	margin: 5px 5px 10px 10px;
}

input[type=text]{
	text-transform: uppercase;
}
#map {
	width: 100%;
	height: 400px;
}

.alert{
	margin-bottom: 20px;
}