.header{
    max-width: 95%;
    right: 0px;
}
.logotipo{
    margin-top: 15px;
}

.titulo1, .titulo2{
    font-family: 'neosanspro-bold';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
}
.titulo1{
    color: #929396;
}
.titulo2{
    color: #58595B;
}

/*Navbar*/
.navbar{
    border-radius: 5px;
    background-color: #444644;
    border-color: #444644;
    color: #fff;
    box-shadow: 3px 3px 6px 5px #919396;
    margin-bottom: 15px;
    min-height: 30px;
}
.nav .navbar-nav{
    max-height: 30px;
}
.navbar-header{
    background-color: #444644;
    border-color: #444644;
    color: #fff;
}
.navbar-toggle{
    background-color: #222222;
    margin: 5px;
    margin-right: 15px;
    padding: 7px 8px
}
.navbar-toggle .icon-bar {
    color: #fff;
    background-color: #fff;
}
.navbar-nav > li > a,
.navbar-nav > li > a{
    color: #fff;
    padding: 8px 15px;
    margin: 0px;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus{
    background-color: #012F66;
    border-color: #012F66;
    color: #fff;
}

/*navbar submenu*/
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #012F66;
}

.navbar-nav .open .dropdown-menu {
    background-color: #444644;
}

.dropdown-menu > li > a{
    color: #ffffff;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #ffffff;
    background-color: #012F66;
}

/*Barra*/
.barra{
    margin: 0 auto;
    min-width: 100%;
    margin-bottom: 1rem;
}

/*Slider*/
.carousel-indicators>li{
    background-color: #fff;
    border-color: #58595B;
    bottom: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.carousel-indicators>li.active{
    background-color: #58595B;
}
.text-slider{
    color:  #55565A;
    text-align: center;
}
.text-slider>h3{
    font-family: 'neosanspro-bold';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
}
.text-slider>p{
    font-size: 1rem;
}


@media (min-width: 420px) {
    .titulo1, .titulo2{
        font-size: 1.5rem;
    }
    .text-slider>p{
        font-size: 1.5rem;
    }
    .text-slider>h3{
        font-size: 2.5rem;
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .titulo1, .titulo2{
        font-size: 2rem;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    li.lineamenu{
        border-right: 2px solid;
        border-image: linear-gradient(to top, #444644, rgba(255,255,255,0.5), #444644) 1 100%;
    }
    .text-slider>p{
        font-size: 2rem;
    }
    .text-slider>h3{
        font-size: 3rem;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .titulo1, .titulo2{
        font-size: 2.5rem;
    }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .titulo1, .titulo2{
        font-size: 3.1rem;
    }
}



@media (max-width: 768px){
    .navbar {
        background-color: #444644;
        border-color: #444644;
        color: #fff;
        box-shadow: none;
        box-shadow: 3px 3px 6px 5px #919396;
        margin-left: 0px;
        margin-right: 0px;
    }
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
        border-radius: 5px;
    }
}
