@media screen and (max-width: 800px) {
  .barranav nav {
     margin-top: -171px;
 }
 .menu_bar {   
     margin-left: -40px;
 }
}

@media screen and (max-width: 787px) {
 .menu_bar {   
     margin-left: -34px;
 }
}

@media screen and (max-width: 781px) {
 .menu_bar {   
     margin-left: -31px;
 }
}

@media screen and (max-width: 770px) {
 .menu_bar {   
     margin-left: -25px;
 }
}


@media screen and (max-width: 768px) {
  .barranav nav {
     margin-top: -141px;
 }
 .menu_bar {
     margin-left: -24px;
 }
}

@media screen and (max-width: 767px) {
  .barranav nav {
    margin-top: -211px;
 }
 .menu_bar {
     margin-left: -15px;
 }
}

@media screen and (max-width: 553px) {
  .barranav nav {
     margin-top: -211px;
 }
}

@media screen and (max-width: 537px) {
  .barranav nav {
     margin-top: -238px;
 }
}


@media screen and (max-width: 447px) {
  .barranav nav {
     margin-top: -238px;
 }
}

@media screen and (max-width: 433px) {
  .barranav nav {
     margin-top: -265px;
 }
}


@media screen and (max-width: 419px) {
  .barranav nav {
     margin-top: -209px;
 }
}

@media screen and (max-width: 385px) {
  .barranav nav {
     margin-top: -209px;
 }
}

@media screen and (max-width: 374px) {
  .barranav nav {
     margin-top: -235px;
 }
}

@media screen and (max-width: 313px) {
  .barranav nav {
     margin-top: -235px;
 }
}
