.agradecimiento{
    color: #967f3d; 
    padding-top: 10px; 
    padding-left: 20px; 
    padding-right: 20px; 
    border-radius: 0px 0px 10px 10px; 
    background: #fef6dd; 
    margin-right:-2px; 
    margin-left:-2px;
    padding-bottom: 1px;
}

.numeros-contacto{
    padding: 10px; 
    padding-left: 20px; 
    padding-right: 20px;
    color: #ffffff;  
    background: #8e8e8e; 
    margin-right:-2px; 
    margin-left:-2px;
    margin-bottom: -2px;
    border-radius: 0 0 7px 7px;
}