.header{
    margin-right: -10px;
    padding-right: -10px;
    max-width: 95%;
    right: 0px;
}
.navbar{
    border-radius: 10px;
    background-color: #444644;
    border-color: #444644;
    color: #fff;
    box-shadow: 3px 3px 6px 5px #888888;
}   
.navbar-header{
    background-color: #444644;
    border-color: #444644;
    color: #fff;
}
.navbar-toggle{
    background-color: #202320;
}
.navbar-toggle .icon-bar {
    color: #fff;
    background-color: #fff;
}
.navbar-nav > li > a,
.navbar-nav > li > a{
    color: #fff;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus{
    background-color: #012F66;
    border-color: #012F66;
    color: #fff;
}

.barra{
    margin: 0 auto;
    min-width: 100%;
    margin-bottom: 10px;
}

.titulo1, .titulo2{
    font-family: 'neosanspro-bold';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
}
@media (min-width: 420px) {
    .titulo1, .titulo2{
        font-size: 1.5rem;
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .titulo1, .titulo2{
        font-size: 2rem;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .titulo1, .titulo2{
        font-size: 2.5rem;
    }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .titulo1, .titulo2{
        font-size: 3.1rem;
    }
}
.titulo1{
    color: #8E8E8E;
}
.titulo2{
    color: #54555A;
}
 

@media (max-width: 768px){
    .navbar {
        background-color: #444644;
        border-color: #444644;
        color: #fff;
        margin-left: -15px;
        margin-right: -15px;
        box-shadow: none;
    }

    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
        border-radius: 10px;
    }

}
