RewriteEngine On
RewriteBase / 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ detenidos/index.php/%2 [QSA,L]
RewriteCond %{SERVER_PORT} 9091 
RewriteRule ^(.*)$ http://fiscaliaveracruz.gob.mx/detenidos/$1 [R,L]
