<!DOCTYPE html>
<html ng-app="detenidosApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/css/bootstrap-datepicker3.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/css/bootstrap-datepicker3.standalone.min.css">
	<!--Mis estilos-->
	<link rel="stylesheet" href="css/cssfonts.css">
	<link rel="stylesheet" href="css/sticky-footer.css">
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/formulario.css">
	<link rel="stylesheet" href="css/ficha.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--<script src="js/jquery-3.2.1.js"></script>
	<script src="js/bootstrap.js"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/js/bootstrap-datepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/locales/bootstrap-datepicker.es.min.js"></script>
	<!--Del original-->
	<script defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>    
    <script defer src="js/detenidos.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	
	<title>Gobierno Abierto - Registro Público de Búsqueda y Localización de Personas Detenidas</title>
	<link rel="icon" href="img/icon.png" sizes="192x192">
</head>
<body ng-controller="UnidadesController as Busqueda">
	<div class="container">
		<header>
			<div class="row">
		    	<div class="col-md-2 col-xs-3 logotipo">
				    <img src="./img/logo.png" align="left" border="1" width="100" height="100"/>
		    	</div>
		    	<div class="col-md-8 col-xs-9">
				    <h3 align="center"><strong><span class="titulo1">REGISTRO PÚBLICO DE BÚSQUEDA</span><br><span class="titulo2">Y LOCALIZACIÓN DE PERSONAS DETENIDAS</span></strong></h3>
				    <br>
		    	</div>
		    </div>
		    <div class="row" align="right">
		    	<div class="col-xs-12">
		    		<nav class="navbar">
		    			<div class="container-fluid">
		    				<div class="navbar-header">
		    					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		    						<span class="icon-bar"></span>
		    						<span class="icon-bar"></span>
		    						<span class="icon-bar"></span>
		    					</button>
		    				</div>
		    				<div class="collapse navbar-collapse" id="myNavbar">
		    					<ul class="nav navbar-nav">
		    						<li class="lineamenu" title="Bienvenida">
		    							<a href="../desaparecidos/bienvenida.html" ><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Bienvenida</a>

		    						</li>
		    						<li class="lineamenu">
		    							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Desaparecidos<span class="caret"></span></a>
		    							<ul class="dropdown-menu">
		    								<li title="Busqueda de Desaparecidos"><a href="../desaparecidos/index4.html"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Busqueda  </a></li>
		    								<li title="Descargar Archivo"><a href="../desaparecidos/desaparecidos.xlsx"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Descargar  </a></li>
		    								<li title="ir a Infografia"><a href="../desaparecidos/img/infografia.pdf"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Infografía</a></li>
		    								<li title="Estadisticas de Desaparecidos"><a href="http://www.transparenciamexico.mx/User/Workspace/Archivos/PDF/29/INCISO-C-75903.pdf"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Estadística</a></li>
		    							</ul>
		    						</li>
		    						<li class="lineamenu">
		    							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Detenidos<span class="caret"></span></a>
		    							<ul class="dropdown-menu">
		    								<li title="Busqueda de Detenidos"><a href="index2.html"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Busqueda  </a></li>
		    								<li title="ir a Infografia"><a href="./img/infografia.pdf"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Infografía</a></li>
		    								<li title="Estadisticas de Detenidos"><a href="./img/grafica.png"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Estadística</a></li>
		    								<li title="Ayuda"><a href="./img/manual.pdf"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda</a></li>
		    							</ul>
		    						</li> 
		    						<li title="Ir a Pagina Principal">
		    							<a href="http://fiscaliaveracruz.gob.mx/"> Fiscalia</a>
		    						</li>
		    					</ul>
		    				</div>
		    			</div>
		    		</nav> 
		    	</div>
		    </div>
		</header>

		<img class="img-responsive center barra" src="./img/barra.png"/>

		<div id="myCarousel" class="carousel slide" data-ride="carousel" align="left" data-interval="8000">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner slider">
				<div class="item active">
					<img class="visible-xs" src="img/slide1.jpg" alt="Slide1">
					<img class="hidden-xs" src="img/slide2.jpg" alt="Slide1">
					<div class="visible-xs text-slider">
						<p style="margin: 0px;">Los familiares de</p>
						<h3 style="margin: 0px;"><strong>PERSONAS DETENIDAS</strong></h3>
						<p>podrán ubicar, desde cualquier dispositivo con conexión a internet, la Unidad Integral de Procuración de justicia donde se encuentra puesto a disposición.</p>
					</div>
				</div>
				<div class="item">
					<img class="visible-xs" src="img/slide1.jpg" alt="Slide1">
					<img class="hidden-xs" src="img/slide2.jpg" alt="Slide1">
					<div class="visible-xs text-slider">
						<p style="margin: 0px;">Los familiares de</p>
						<h2 style="margin: 0px;"><strong>PERSONAS DETENIDAS</strong></h2>
						<p>podrán ubicar, desde cualquier dispositivo con conexión a internet, la Unidad Integral de Procuración de justicia donde se encuentra puesto a disposición.</p>
					</div>
				</div>
				<div class="item">
					<img class="visible-xs" src="img/slide1.jpg" alt="Slide1">
					<img class="hidden-xs" src="img/slide2.jpg" alt="Slide1">
					<div class="visible-xs text-slider">
						<p style="margin: 0px;">Los familiares de</p>
						<h2 style="margin: 0px;"><strong>PERSONAS DETENIDAS</strong></h2>
						<p>podrán ubicar, desde cualquier dispositivo con conexión a internet, la Unidad Integral de Procuración de justicia donde se encuentra puesto a disposición.</p>
					</div>
				</div>
			</div>
			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

		<div class="panel panel1">
			<div class="panel-heading panel-heading-customd" align="center">
				<h5 class="info-llama">Llama al Centro de Atención Telefónica (228) 841-61-70<br>
				y proporciona los datos de la persona que buscas para que te auxilien en el proceso si así lo prefieres.</h5>
			</div>
		</div>

		<div class="panel"> 
			<div class="panel-heading panel2">
				<h3 class="panel-title">Busca Personas turnadas ante el Ministerio Público</h3> 
				<!--<div class="panel-title">
					<div class="row">
						<div class="col-xs-6">
						</div>
						<div class="col-xs-6 text-right">
							<h5>Corte de revisión de su actualización mensual: 22/05/17</h5>
						</div>
					</div>
				</div>-->
			</div> 
			<div class="panel-body" id="searchDiv">
				<form id="detenido" method="POST" action="" autocomplete="off">
					<div class="box-body">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-2">
								<div class="form-group">
									<label for="nombre">Nombre:</label>
									<input type="text" id="nombre" name="nombre" ng-model="nombre" class="form-control required ng-valid ng-dirty" ng-required="required" required>

								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-2 lineaForm">
								<div class="form-group">
									<label for="paterno">Apellido Paterno:</label>
									<input type="text" id="paterno" name="paterno" ng-model="paterno" class="form-control required ng-valid ng-dirty" ng-required="required" required>
								</div>
							</div>
							<div class="clearfix hidden-md hidden-lg"></div>
							<div class="col-xs-12 col-sm-6 col-md-2 lineaForm">
								<div class="form-group">
									<label for="materno">Apellido Materno:</label>
									<input type="text" id="materno" name="materno" ng-model="materno" class="form-control required ng-valid ng-dirty" ng-required="required" required>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-2 lineaForm">
								<div class="form-group">
									<label for="sexo">Sexo</label>
									<div>
										<select id="sexo" name="sexo" ng-model="sexo" class="form-control required ng-valid ng-dirty" required>
											<option value="">Sexo</option>
											<option value="Masculino">Masculino</option>
											<option value="Femenino">Femenino</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 lineaForm">
								<div class="form-group">
									<label for="fechaNacimiento">Fecha Nacimiento:</label>
									<div class='input-group date' id='calendario'>
										<input type="text" class="form-control ng-valid" id="fechaNacimiento" name="fechaNacimiento" ng-model="fechaNacimiento" placeholder="dd/mm/aaaa" required>
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 col-md-2">
								<div class="form-group">
									<input class="btn btn-azul btn-block" ng-click="getDetencion()" id="search" type="button" value="Buscar">
								</div>
							</div>
							<div class="col-xs-6 col-md-2">
								<div class="form-group">
									<button type="button" href='javascript:;' onclick="limpiar();" class="btn btn-gris btn-block">Limpiar</button>
								</div>
							</div>
							<div class="col-xs-12 col-md-8 text-right">
								<h6><a href="./img/manual.pdf" title="Consulta la Ayuda para el uso del sitio" class="help-block"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda</a></h6>
									
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<!--Modal FALTAN DATOS-->
		<div id="faltanDatos" class="modal fade" role="dialog">
		    <div class="modal-dialog modal-lg" role="document" >
		        <div class="modal-content" id="modal1">
		            <div class="modal-header alert-warning">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
		                <h4 class="modal-title neosansproregular" id="myModalLabel">Debe proporcionar <strong class="neosansprobold">TODOS</strong> los datos (nombre, paterno, materno, sexo, fecha nacimiento) para realizar la búsqueda.</h4>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Modal No se encontraron resultados-->
		<div id="noHayRegistro" class="modal fade" role="dialog">
		    <div class="modal-dialog modal-lg" role="document">
		        <div class="modal-content" id="modal2">
		            <div class="modal-header alert-danger">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
		                <h4 class="modal-title" id="myModalLabel"><strong>No existe registro</strong> ó alguno de los datos proporcionados por la persona detenida son distintos a los especificados.</h4>
		            </div>
		        </div>
		    </div>
		</div>




		<div id="resultsDiv">
			<div class="datos">
				<div class="row titulo neosansprobold">
					<div class="col-xs-12 col-sm-6">
						<strong><span>{{ itemnombre }} {{ itempaterno }} {{ itemmaterno }}</span></strong>
					</div>
					<div class="col-xs-12 col-sm-6 disp">
						<strong>DATOS DE LA PUESTA A DISPOSICIÓN</strong>
					</div>
				</div>
				<div class="row informacion">
					<div class="col-xs-12">
						<p><strong>Fecha de Detención: </strong><span>{{ itemfechaInicio }}</span></p>
						<p><strong>Fecha de Finalización: </strong><span>{{ itemfechaFin }}</span></p>
						<p><strong>Lugar: </strong><span>{{ itemunidad }}</span></p>
						<p><strong>Dirección: </strong><span>{{ itemdireccion }}</span></p>
						<p><strong>Teléfono: </strong><span>{{ itemtelefono }}</span></p>
						<p><strong>Fiscal de distrito: </strong><span>{{ itemfiscal }}</span></p>
					</div>
					<div class="col-xs-12">
						<strong>Ubicación UIPJ donde está el detenido</strong>
						<div id="map"></div>
						<script defer type="text/javascript">
							$("#map").css("height", "400px");
							$("#map").css("width", "100%");
							var map;
							var marker ;
							function initMap() {
								map = new google.maps.Map(document.getElementById('map'), {
									center: {lat: 19.5078175, lng: -96.8770843},
									zoom: 15
								});
								marker= new google.maps.Marker({
									position:  {lat: 19.5078175, lng: -96.8770843},
									map: map,
									animation: google.maps.Animation.DROP,
									title: 'Fiscalía General de Justicia del Estado de Veracruz de Ignacio de la Llave'
								});
								marker.setAnimation(google.maps.Animation.BOUNCE);
								marker.addListener('click', toggleBounce);
							}
							function toggleBounce() {
								if (marker.getAnimation() !== null) {
									marker.setAnimation(null);
								} else {
									marker.setAnimation(google.maps.Animation.BOUNCE);
								}
							}
						</script>
						<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuYqLjlGsm5hgBHyhny5ODQKwjnqSbs30&callback=initMap">
						</script>
					</div>
				</div>
			</div>
			<div class="col-xs-12 alert alert-warning alert-dismissable fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>IMPORTANTE:</strong> Los resultados de esta consulta están sujetos a homonimia.
			</div>
		</div>
		
	</div>

	
	<footer class="footer">
		<div class="row footer-area-wrap">
			<div class="container">
				<div class="col-xs-12 col-md-4">
					<img src="./img/logo-footer.png" alt="Fiscalia General del Estado" width="140">
				</div>
				<div class="col-xs-12 col-md-4 lineaFooter">
					<h4 class="negrita"><strong>Contacto</strong></h4>
					Circuito Rafael Guízar y Valencia No. 707, Colonia Reserva Territorial C.P. 91096 Xalapa, Veracruz.
					<br>
					Teléfono: 01 228 841 6170
					<br>
					contacto@fiscaliaveracruz.gob.mx
				</div>
				<div class="col-xs-12 col-md-4 lineaFooter">
					<h4 class="negrita"><strong>Visitante No.</strong></h4>
					<!--<div class="textwidget"><a href="http://www.easycounter.com/es/">
						<img src="//www.easycounter.com/counter.php?contactodetenidos" border="0" alt="Contador"></a>
					</div>-->
				</div>
			</div>
		</div>
		<div class="footer-container">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-10">
						<div>Copyright © 2017 Fiscalía General del Estado de Veracruz , DCIIT</div>
					</div>
					<div class="col-xs-12 col-md-2 ">
						<a href="http://facebook.com/fgeveracruz/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="http://twitter.com/FGE_Veracruz"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="https://www.youtube.com/channel/UC464yhyQ9Zc6FYkPyN69cgA"><i class="fa fa-youtube" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	
	<script>
		$( document ).ready(function() {
            $(function (){
                $('#calendario').datepicker({
                	    format: "yyyy/mm/dd",
					    weekStart: 0,
					    //endDate: "today",
					    todayBtn: "linked",
					    language: "es",
					    orientation: "auto",
					    multidate: false,
					    todayHighlight: true,
					    autoclose: true
                });
            });
        });
        
        function limpiar(){
            $('#nombre').val('');
            $('#paterno').val('');
            $('#materno').val('');
            $('#sexo').val('');
            $('#fechaNacimiento').val('');
        };

        $("#resultsDiv").hide();
    </script>
</body>
</html>